<div class="converter">
    <h1>Обмін валют</h1>
    <div id="selection">
        
        <div id="div_currency_to">
            <input #valuefrom id="valuefrom"  type="number" (keyup)="convert('from')"/>
            <select #currencyfrom (change)="convert('from')">
                <option *ngFor="let currency of currencies" >
                    {{currency}}
                </option>
            </select>
         </div>

         ⇄

        <div id="div_currency_from">
            <input #valueto id="currencytoinput" type="number" (keyup)="convert('to')"/>
        <select #currencyto (change)="convert('to')">
            <option *ngFor="let currency of currencies" >
            {{currency}}
            </option>
        </select>

        </div>
    </div>
  </div>